<% include ../../partials/header %>

<% include ../../partials/sidebar %>
<div class="container">
    <h1 class="h2 mt-2">Add Members</h1>
    <form method="POST">

        <div class="form-group row">
            <label for="inputBoolean" class="col-sm-2 col-form-label">
                Members</label>
            <div class="col-sm-10">
                <select class="custom-select" name="inputmember" required="">

                    <option>Choose the Member ...</option>
                    <% members.forEach(item=>{%>
                    <option value="<%=item.userid%>"><%=item.fullname%></option>
                    <%})%>
                </select>
            </div>
        </div>

        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Position</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="inputposition"
                            id="gridRadios1" value="Manager">
                        <label class="form-check-label" for="gridRadios1">
                            Manager
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="inputposition"
                            id="gridRadios2" value="Software Developer">
                        <label class="form-check-label" for="gridRadios2">
                            Software Developer
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <input class="form-check-input" type="radio" name="inputposition"
                            id="gridRadios3" value="Quality Assurance">
                        <label class="form-check-label" for="gridRadios3">
                            Quality Assurance
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success">Add</button>
                <a class="btn btn-outline-info" href="/projects/<%=projectid%>/members"
                    role="button">Back</a>
            </div>
        </div>
    </form>
</div>
<% include ../../partials/footer %>